*{
    
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main,#header{
    width: 100%;
    
}
#body{
    width: 100%;
    height: 780px;
    margin-top: 60px;
    background-image: url(/background.png);
    position: relative;
}
#body > .banxe > .ten > img{
    font-size: 50px;
}
.banxe{
    position: absolute;
    width: 50%;
    height: 70%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
/* Begin header */
#header{
   
    background-color: whitesmoke;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: bold;
    
}

#nav > li{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
   
    position: relative;
}
#nav > li > a{
    color: rgb(92, 124, 155);
    text-transform: uppercase;
}
#nav  li  a{
    line-height: 60px;
    padding: 0 24px;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize
}
#nav > li:hover > a{
    color: red;
    scale: 110%;
}
#nav .subnav {
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav li:hover{
    background-color: #ccc;
}
#sider{
   
    background-color: white;
}
#nav .subnav a{
    color: rgb(92, 124, 155);
    padding: 0 12px;
    line-height: 38px;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav .nav-icon{
    font-size: 12px;
}
#nav{
    display: inline-block;
}
#header #mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
}
#header .menu-icon,
#header .searchid{
    float: right;
}
#header .menu-icon,
#header .searchcl{
    color: black;
    line-height: 60px;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
}

#header .searchid:hover{
   
   background-color: #ccc;
}
#header .menu-icon:hover{
    color: red;
}
#header .searchid1:hover{
    
    scale: 130%;
}
#header .searchid1{
    float: left;
}
/* End header */
.example1 > .icont1{
    display: inline-block;
}
.example1{
    padding: 20px;
    text-align: center;
}
.mt-8{
    margin-top: 5px !important;
}

.row{
  
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
    
}
.cuoi{
    width: 100%;
   
}
.example1>a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 0px 2px;
}

.cuoi>p{
    color: black;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 500;
    
}
.colhart{
    width: 50%;
    font-weight: 500;
    line-height: 1.4;
}
#body .banxe > .ten{

    text-transform: capitalize;
    text-align: center;
    padding: 30px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(92, 124, 155);
}
.row2{
    width: 36%;
    display: block;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 50px;
}
.form, .formgui{
    border: 2px solid black;
    padding: 8px;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline: none;
}
.formgui:hover{
    background-color: #ccc;
    cursor: pointer;
}
.formgui{
   padding: 10px 20px;
   float: right;
   font-weight: 700;
   border: 2px solid black;
}