
.slideshow-container {
  max-width: 100%;
  max-height: 50%;
  position: relative;
  margin: auto;
}
.numbertext {
  color: #000;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: 500;
}



